<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      My Agenda
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let session of myAgenda; let i = index">

    <ion-card-header>
      {{ session.startTimeString }}
    </ion-card-header>

    <ion-card-content (click)="removeOrNavigate(session)">
    <!--<ion-card-content [navPush]="sessionPage" [navParams]="session">-->
      <ion-row>

        <ion-col col-4>
          <img style="width: 100%" [src]="session.speakerImage" alt="Speaker Image"/>
        </ion-col>
        <ion-col col-8>
          <h1> {{ session.title }} </h1>
        </ion-col>
        <ion-col col-6>
          <p> {{ session.speakerNames }} </p>
          <p> {{ session.roomName }} </p>
        </ion-col>

      </ion-row>
    </ion-card-content>


  </ion-card>

</ion-content>
