<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Schedule
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item-sliding *ngFor = "let session of sessionCollection">
      <button
        ion-item
         [color]="getBackground(session)"
         [navPush]="sessionPage"
         [navParams]="session">

        <h2 text-wrap> {{ session.title }}</h2>
        <p> {{ session.speakerNames | uppercase }} </p>
        <p> {{ session.startTimeString }} </p>

      </button>

      <ion-item-options>
        <button ion-button color="primary" *ngIf="!isOnAgenda(session)" (click)="addEvent(session)">
          <ion-icon name="add"></ion-icon>
        </button>
        <button ion-button color="danger" *ngIf="isOnAgenda(session)" (click)="removeEvent(session)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>
