<!-- Generated template for the SessionComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title> {{ sessionDetails?.title }} </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col col-4>
        <img [src]="sessionDetails?.speakerImage"
             alt="Picture of {{ sessionDetails?.speakerName }}"
             style="width: 100%">
      </ion-col>
      <ion-col col-8>
        <h1> {{ sessionDetails?.title }}</h1>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <p> {{ sessionDetails?.speakerNames }} </p>
        <p> {{ sessionDetails?.startTimeString }}</p>
      </ion-col>



    </ion-row>

    <ion-row>
      <ion-col>
        <h2>Summary</h2>
        <p> {{ sessionDetails?.summary }} </p>
        <p> {{ sessionDetails?.detail }} </p>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col text-right>

        <button *ngIf="!attending" ion-button clear small (click)="addToAgenda(sessionDetails)">Add To My Agenda</button>
        <button *ngIf="attending" ion-button clear small (click)="removeFromAgenda(sessionDetails)">Remove From My Agenda</button>

      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>
