<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="gotoSecondary('Mario')" >button</button>

  <!--[navPush]="secondaryComponent"-->
</ion-content>
